<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestVerification</servlet-name>
        <servlet-class>servlet.RequestVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestVerification_1</servlet-name>
        <servlet-class>servlet.RequestVerification_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pres_Voting</servlet-name>
        <servlet-class>servlet.Pres_Voting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VPres_Voting</servlet-name>
        <servlet-class>servlet.VPres_Voting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestVerification</servlet-name>
        <url-pattern>/RequestVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestVerification_1</servlet-name>
        <url-pattern>/RequestVerification_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pres_Voting</servlet-name>
        <url-pattern>/Pres_Voting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VPres_Voting</servlet-name>
        <url-pattern>/VPres_Voting</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
